<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <title>Create New Article</title>
</head>
<body>
  <a th:href="@{/}">Back to list</a>
  <h1>Create new article</h1>
  <p th:text="${success}"></p>
  <form th:action="@{/article/create}" th:method="POST">
    <table>
      <th:block th:object="${article}">
        <tr>
          <td>Title</td>
          <td><input type="text" th:field="*{title}"></td>
        </tr>
        <tr>
          <td>Content</td>
          <td><textarea th:rows="4" th:cols="10" th:field="*{content}"></textarea></td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" value="Create Article"></td>
        </tr>
      </th:block>
    </table>
  </form>
</body>
</html>