<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Delete Article</title>
</head>
<body>
  <a th:href="@{/article/list}">Back to list</a>
  <h1>Remove Article</h1>
  <form th:action="@{/article/delete}" th:method="post" th:object="${article}">
    <input type="hidden" th:field="*{id}">
    <table>
      <tr>
        <td>Title:</td>
        <td th:text="${article.title}"></td>
      </tr>
      <tr>
        <td>Date:</td>
        <td th:text="${article.date}"></td>
      </tr>
      <tr>
        <td>Content:</td>
        <td th:text="${article.content}"></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="submit" value="Delete Article"></td>
      </tr>
    </table>
  </form>
</body>
</html>