<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Justin's Blog</title>
</head>
<body>
  <a th:href="@{/article/create}">Create new article</a>
  <p th:text="${success}"></p>
  <h1>Articles List</h1>
  <table border="1" cellpadding="10" cellspacing="0">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      <th:block th:each="article : ${articles}">
        <tr>
          <td th:text="${article.title}"></td>
          <td th:text="${article.date}"></td>
          <td><a th:href="@{/article/view/__${article.id}__}">View</a></td>
          <td><a th:href="@{/article/edit/__${article.id}__}">Edit</a></td>
          <td><a th:href="@{/article/delete/__${article.id}__}">Delete</a></td>
        </tr>
      </th:block>
    </tbody>
  </table>
  <div>
    <a th:href="@{/'articles'(page=${articles.number - 1})}" th:if="${!articles.first}">Previous</a>
    <span th:text="${articles.number + 1}"></span>/<span th:text="${articles.totalPages}"></span>
    <a th:href="@{/'articles'(page=${articles.number + 1})}" th:if="${!articles.last}">Next</a>
  </div>
</body>
</html>